    


        <div class="text-center mx-auto col-12 form-row" >
            <div class="col-6 mx-auto "><img src="/img/proclean.png" class="img-fluid"></div>
            <h4 class="col-12">Un tratamiento diferente para tu auto <i class="fa fa-flag-checkered" aria-hidden="true"></i></h4>
            <div class=" mx-auto "><img src="/img/audi.jpg" class="img-fluid"></div>
        </div>

        <div class="col-md-11 form-row mx-auto">
          
    
        <!--Buscar Cliente-->
    <div class="mx-auto col-sm-6 justify-content-center mb-1 row ">
        <a href="/list-users" class="btn btn-success btn-block"> <i class="fa fa-address-card fa-3x"  aria-hidden="true"></i><h4>Registro de Empleados</h4></a>
    </div><!--div que cierra el boton 1-->

    <div class="mx-auto col-sm-6 justify-content-center mb-1 row  ">
        <a href="/list-box" class="btn btn-success btn-block" > <i class="fa  fa-archive fa-3x"  aria-hidden="true"></i><h4>Registro de Caja</h4></a>
    </div><!--div que cierra el boton 2-->

    <div class="mx-auto col-sm-4 justify-content-center mb-1  row ">
        <a href="/all-clients" class="btn btn-success btn-block"> <i class="fa fa-users fa-3x"  aria-hidden="true"></i><h4>Registro de Clientes</h4></a>
    </div><!--div que cierra el boton 3-->

    <div class="mx-auto col-sm-4 justify-content-center mb-1 row ">
        <a href="/price" class="btn btn-success btn-block" > <i class="fa  fa-money fa-3x"  aria-hidden="true"></i><h4>Precios</h4></a>
    </div><!--div que cierra el boton 3-->

    <div class="mx-auto col-sm-4 justify-content-center mb-1 row ">
        <a href="/login" class="btn btn-primary btn-block"> <i class="fa   fa-address-card-o fa-3x"  aria-hidden="true"></i><h4>Cerrar Sesion</h4></a>
    </div><!--div que cierra el boton 3-->

    </div><!--div que cierra el contenedor principal-->
        
    
