    


        <div class="text-center mx-auto col-12 form-row" >
            <h1 class="col-12">Proclean</h1>
            <h4 class="col-12">Un tratamiento diferente para tu auto <i class="fa fa-flag-checkered" aria-hidden="true"></i></h4>
            <div class=" mx-auto "><img src="/img/audi.jpg" class="img-fluid"></div>
            </div>

        <div class="col-md-12 form-row mx-auto ">
          
    
        <!--Buscar Cliente-->
       <div class="mx-auto col-md-4 row justify-content-center mb-1 ">
        <a href="#ventana1" class="btn btn-success btn-block" type="submit" data-toggle="modal"  > <i class="fa fa-address-card fa-5x"  aria-hidden="true"></i><h3>Registro de Empleados</h3></a>
        </div><!--div que cierra el boton 1-->

           <div class="mx-auto col-md-4 row justify-content-center mb-1 ">
           <a href="#ventana1" class="btn btn-success btn-block" type="submit" data-toggle="modal"  > <i class="fa  fa-archive fa-5x"  aria-hidden="true"></i><h3>Registro de Caja</h3></a>
           </div><!--div que cierra el boton 2-->

        <div class="mx-auto col-md-4 row justify-content-center mb-1 ">
        <a href="#ventana1" class="btn btn-success btn-block" type="submit" data-toggle="modal"  > <i class="fa fa-users fa-5x"  aria-hidden="true"></i><h3>Registro de Clientes</h3></a>
        </div><!--div que cierra el boton 3-->




       </div><!--div que cierra el contenedor principal-->
        
    
