
<div style="display: contents; width: max-content;">
    
                <div class="row">
                    <div class="col-md-6 mt-5 mx-auto text-center">
                        
                        <div class="card">
                            <div class="card-header">
                                <h1>Editar</h1>
                            </div>
                            <div class="card-body">
                                
                                <form action="/historial/edit/{{receipt._id}}" method="POST">
                                <div class="form-group text-left">
                                <label for="patente">Usuario</label>
                                <input type="text" name="user" class="form-control text-center" placeholder="Usuario" value="{{receipt.user}}" autocomplete="off">
                                </div>
                                <div class="form-group text-left">
                                     <label>Accion</label>
                                    <select class="form-control text-center mx-auto" name="action">
                                    <option value="LAVADO">Lavado</option>
                                    <option value="COCHERA">Cochera</option>
                                    </select>
                                </div>
                
                                <div class="form-group  text-left">
                                    <label for="patente">Importe</label>
                                <input type="text" name="box" class="form-control text-center" placeholder="Importe" value="{{receipt.box}}">
                                </div>
                
  
                                <div class="form-group text-left">
                                     <label>Tipo</label>
                                    <select class="form-control text-center mx-auto" name="type">
                                    <option value="Auto">Auto</option>
                                    <option value="Camioneta">Camioneta</option>
                                    </select>
                                </div>
                                
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i>Guardar</button>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>