<!--Registro Mensual-->
<nav class="nav nav-bar">
  <a href="/clients" class=" text-primary ml-5 btn-block mt-2"><h4><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>Volver al Menu</h4></a>
</nav>


<div class="container mx-auto mt-3">
  <div class="col-6 mx-auto ">
     <h3 class="text-center text-primary mt-3"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>Meses Anteriores</h3>
   
 
  </div>
</div>

<div class="container col-10 mx-auto">
<table class="table col-11 mx-auto mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Lavados</th>
            <th scope="col">Cocheras</th>
            <th scope="col" class="text-center">Caja Mensual</th>    
          </tr>

         
        </thead>
        <tbody>

          {{#each months}}
          <tr>
          <th scope="row">{{fecha}}</th>
          <th scope="row">{{lavados}}</th>
          <th scope="row">{{cocheras}}</th>
          <th scope="row" class="text-center">$ {{total}}</th>
          </tr>
          {{/each}}
          
        </tbody>
      </table>
</div>


    <script src="/js/today_month_year.js"></script>
    <script src="/js/today_year.js"></script>