<!--Registro Total-->

<div class="container col-10 mx-auto">
<table class="table col-11 mx-auto mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Caja Mensual</th>    
          </tr>

         
        </thead>
        <tbody>

          
          <tr>
          <th scope="row"></th>
          <th scope="row"></th>
          </tr>
          
        </tbody>
      </table>
</div>