<h2 class="mx-auto text-center p-1"><i class="fa fa-users mr-1 " aria-hidden="true"></i>Usuarios</h2>
<!--Tabla-->
<table class="table container mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre de usuario</th>
      <th scope="col">Rol</th>
      <th scope="col" class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{username}}</th>
      <td>{{rol}}</td>
      <td>
        <form action="/user/delete/{{_id}}" method="POST" onsubmit="return confirm('Desea borrar este usuario?');">
          <button type="submit" class="btn btn-danger col-12  ml-auto btn-block"><i class="fa fa-trash-o mr-1"
              aria-hidden="true"></i>Eliminar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<!--Botones-->

<div class="container">
  <hr>

  <div class="form-row">

    <div class="col-md-5 mx-auto ">
      <a href="/register" class="btn btn-primary btn-block mx-auto mt-1 p-2"><i class="fa fa-plus mr-1"
          aria-hidden="true"></i>Registrar Usuario</a>
    </div>
    <div class="col-md-5 mx-auto">
      <a href="/clients" class="btn btn-success btn-block  mx-auto mt-1 p-2"><i class="fa fa-arrow-left mr-1"
          aria-hidden="true"></i>Volver</a>
    </div>
  </div>
</div>