<div class="container mt-5">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Patente</th>
            <th scope="col">Marca </th>
            <th scope="col">Modelo</th>
            <th scope="col">Entrada</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BSJ641</th>
            <td>Fiat</td>
            <td>Fiorino</td>
            <td>06/07/2020</td>
            <td><a href="" type="submit" class="btn btn-danger btn-block">Egresar</a></td>
          </tr>


        </tbody>
      </table>
    </div>