<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proclean</title>

    <link rel="stylesheet" href="/css/cosmo.css">

    {{!-- font awesome --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/css/main.css">
</head>
<body>



<main class="container ml-5 mr-5 text-center mx-auto mt-2">
    {{>messages}}
    {{>errors}}
    </main>
    

    {{{body}}}
    
    
    




{{!-- BOOTSTRAP4 --}}
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/inspec.js"></script>

</body>
</html>